body {
    background-color: rgb(233, 233, 233);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #700cb3;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
    color: #700cb3;
}